
config SOC_QCC730V2
	bool "SOC QCC730V2"
	default n
	select SOC_QCC730_HAS_UART_V2
	select SOC_QCC730_HAS_XPA_AUTO_CTRL
	select SOC_QCC730_HAS_BT_COEX
	select SOC_QCC730_HAS_I2C
	select SOC_QCC730_HAS_QSPI_V2
	select SOC_QCC730_HAS_SPI_SLAVE
