
#BOARD CQM730I as QCC730V2 MP board on iPA
CONFIG_BOARD_CQM730I=y

CONFIG_BOARD_QCC730_I2C_ENABLE=y

CONFIG_BOARD_QCC730_QSPI_ENABLE=y
CONFIG_BOARD_QCC730_QSPI_V2_QUAD_MODE=1

CONFIG_BOARD_QCC730_UART_ENABLE=y
CONFIG_BOARD_QCC730_UART_GPIO_OPTION=1

#CONFIG_BOARD_QCC730_XPA_AUTO_CTRL_ENABLE=y
#CONFIG_BOARD_QCC730_XPA_AUTO_CTRL_GPIO_OPTION=0

CONFIG_PBL_PREES_RESET_FOR_DTIM=y
