
CONFIG_BOARD_QCC730V1_SOCKET=y

CONFIG_BOARD_QCC730_I2C_ENABLE=y

CONFIG_BOARD_QCC730_QSPI_ENABLE=y
CONFIG_BOARD_QCC730_QSPI_V1_OPTION=0

CONFIG_BOARD_QCC730_UART_ENABLE=y

#CONFIG_BOARD_QCC730_SPI_SLAVE_ENABLE=y
#CONFIG_BOARD_QCC730_SPI_SLAVE_OPTION=1
