menu "mbedTLS setting"
config MBEDTLS_USE_PKA
    bool "enable PKA for MbedTLS"
    default y

config MBEDTLS_PKA_TEST
    bool "enable test for Mbedtls PKA"
    depends on MBEDTLS_USE_PKA
    default y
config MBEDTLS_AES_ALT
    bool "enable aes alt"
    default n
config MBEDTLS_CCM_ALT
    bool "enable ccm alt"
    depends on MBEDTLS_AES_ALT
    default n
config MBEDTLS_SHA_ALT
    bool "enable sha1 sha256 alt"
    default n
endmenu
