
#BOARD QCC730V2 EVB v1.3 HOSTLESS for iPA
CONFIG_BOARD_QCC730V2_EVB13_HOSTLESS=y

CONFIG_BOARD_QCC730_I2C_ENABLE=y

CONFIG_BOARD_QCC730_QSPI_ENABLE=y
CONFIG_BOARD_QCC730_QSPI_V2_QUAD_MODE=1

CONFIG_BOARD_QCC730_UART_ENABLE=y
CONFIG_BOARD_QCC730_UART_GPIO_OPTION=3

CONFIG_PBL_PREES_RESET_FOR_DTIM=y
