#Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
#SPDX-License-Identifier: BSD-3-Clause-Clear
config FILE_SYSTEM_LITTLEFS
        depends on FILE_SYSTEM
	bool "LittleFS support"
	help
	  Enables LittleFS file system support.

if FILE_SYSTEM_LITTLEFS

menu "LittleFS Settings"

config FS_LITTLEFS_READ_SIZE
	int "Minimum size of a block read"
	default 16

config FS_LITTLEFS_PROG_SIZE
	int "Minimum size of a block program"
	default 16

config FS_LITTLEFS_CACHE_SIZE
	int "Size of block caches in bytes"
	default 64

config FS_LITTLEFS_LOOKAHEAD_SIZE
	int "Size of lookahead buffer in bytes"
	default 32

config FS_LITTLEFS_BLOCK_CYCLES
	int "Number of erase cycles before moving data to another block"
	default 512

config FS_LITTLEFS_BLOCK_SIZE
	int
	default 4096

config FS_LITTLEFS_NUM_FILES
        int
        default 4
config FS_LITTLEFS_NUM_DIRS
        int
        default 4

endmenu

endif # FILE_SYSTEM_LITTLEFS
