
#BOARD QCC730V2 EVB v1.2 hostless for iPA, temp version due to without Flash
CONFIG_BOARD_QCC730V2_EVB12_HOSTLESS=y

CONFIG_BOARD_QCC730_I2C_ENABLE=y

CONFIG_BOARD_QCC730_UART_ENABLE=y
CONFIG_BOARD_QCC730_UART_GPIO_OPTION=0

#CONFIG_BOARD_QCC730_SPI_SLAVE_ENABLE=y
#CONFIG_BOARD_QCC730_SPI_SLAVE_OPTION=1

CONFIG_PBL_PREES_RESET_FOR_DTIM=y
